{% extends "base.html" %}

{% block content %}
  <h2>Whats on your Mind :)</h2>
    <form method="post">
      <label>
        <h4>Subject</h4>
        <input class="entry-box" type="text" name="subject" value="{{subject}}">
      </label>
      <br>
      <label>
        <h4>Blog Content</h4>
        <textarea class="comment-box" name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <input class="btn btn-primary" type="submit"> or <a class="btn btn-primary" href="/blog">Cancel</a>
    </form>
{% endblock %}
